<a href="https://colab.research.google.com/github/ThitiwatJtrsn/data_viz_2022/blob/main/Final_DataViz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้
ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx

( ดาวน์โหลดจาก https://drive.google.com/.../1D... )

โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้

* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

โดยข้อมูลสำคัญที่ต้องแสดงคือ

* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)

ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

# เรียกใช้ฟังฟ์ชั่น

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [2]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/dataviz_2021_data'

# Data 1 ข้อมูลหลัก

In [4]:
data1 = pd.read_csv(os.path.join(path,'alldb.csv'))
data1

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [5]:
data1.shape

(40035, 14)

### ตรวจสอบหาค่า NaN หรือ Missing

In [6]:
data1.isnull().any()  # ตรวจสอบหาค่า missing

Unnamed: 0      False
user             True
RowKey           True
care             True
date             True
ov               True
phone            True
site             True
time             True
urine            True
pid              True
PartitionKey     True
title            True
age              True
dtype: bool

จากการตรวจสอบค่า missing พบว่า ทุกคอมลัมน์มีค่า missing ดังนั้นเราจึงจะทำการแก้ไขค่า missing ไปทีละคอมลัมน์

# Data Preprocessing

In [7]:
data = data1[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']]
data

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

In [8]:
data_drop = data.dropna()
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,0,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0-1528,data is not completed,data is not completed
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,0,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0-1544,data is not completed,data is not completed
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
...,...,...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,2,Samsung SM-G998B,test,14:23:45,ขุ่น,x001,data is not completed,data is not completed
40014,ttest,gzxgflnowr.png,2022-02-21,2,Samsung SM-G998B,test,14:23:43,ขุ่น,x001,data is not completed,data is not completed
40016,xxx,jytlopevha.png,2022-02-17,3,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),xxx,data is not completed,data is not completed
40022,yyy,ivccsksowb.png,2022-02-17,2,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,yyy,data is not completed,data is not completed
40023,zzz,psudrnccsh.png,2022-02-17,2,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,zzz,data is not completed,data is not completed

### แก้ไข user, site, PartitionKey เป็นตัวเลข 5 หลัก

In [9]:
data_drop = data_drop[(data_drop['user'].astype(str).str.isdigit()) & (data_drop['user'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ user ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)                                                                             # .str.isdigit ใช้ตรวจสอบว่าอักขระทั้งหมดเป็นตัวเลขหรือไม่
data_drop

(37465, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,0,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),61,data is not completed,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,0,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),89,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,1,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,2,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,2,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),983,data is not completed,data is not completed

In [10]:
set(data_drop['user'])

{'45736',
 '11611',
 '98530',
 '93726',
 '20304',
 '60250',
 '76246',
 '03409',
 '33791',
 '04255',
 '93991',
 '34210',
 '78231',
 '00167',
 '00292',
 '66261',
 '55865',
 '65075',
 '04461',
 '85989',
 '26989',
 '06277',
 '05304',
 '17777',
 '46285',
 '03381',
 '65733',
 '76105',
 '00207',
 '44805',
 '80374',
 '93028',
 '81197',
 '75579',
 '23214',
 '05368',
 '15588',
 '03523',
 '17415',
 '22692',
 '37691',
 '31762',
 '00053',
 '31283',
 '19699',
 '99734',
 '98488',
 '00298',
 '22688',
 '15963',
 '88337',
 '45825',
 '02579',
 '77509',
 '77811',
 '54458',
 '42380',
 '18769',
 '02263',
 '34801',
 '06079',
 '86601',
 '11282',
 '08998',
 '03169',
 '36358',
 '57398',
 '04405',
 '93020',
 '67400',
 '30059',
 '47656',
 '01428',
 '60879',
 '76014',
 '80734',
 '80673',
 '33237',
 '85504',
 '80067',
 '00296',
 '98260',
 '19675',
 '72483',
 '02784',
 '03338',
 '25176',
 '58993',
 '60909',
 '00183',
 '10534',
 '59476',
 '49103',
 '88351',
 '09343',
 '00409',
 '37151',
 '65678',
 '65632',
 '40520',
 '37408',
 '16754',
 '00341',
 '46960',
 '86721',
 '85934',
 '31792',
 '00206',
 '87771',
 '73772',
 '00566',
 '77358',
 '74335',
 '55692',
 '00040',
 '16085',
 '33664',
 '39440',
 '29025',
 '00028',
 '32948',
 '84374',
 '54614',
 '31869',
 '74378',
 '31577',
 '46897',
 '13088',
 '50144',
 '85433',
 '05135',
 '04325',
 '50332',
 '00038',
 '24622',
 '28402',
 '36001',
 '34829',
 '10405',
 '77862',
 '45531',
 '97965',
 '31086',
 '71781',
 '85444',
 '24559',
 '54734',
 '35139',
 '25128',
 '26199',
 '47429',
 '13824',
 '17055',
 '02547',
 '65390',
 '81621',
 '04387',
 '00121',
 '42468',
 '05091',
 '69428',
 '65995',
 '18524',
 '17842',
 '73204',
 '15980',
 '27589',
 '00133',
 '81409',
 '70455',
 '16428',
 '00138',
 '00187',
 '78251',
 '95291',
 '80317',
 '75835',
 '94601',
 '84935',
 '00079',
 '65656',
 '72186',
 '99475',
 '00141',
 '22722',
 '70610',
 '73445',
 '65254',
 '45641',
 '00158',
 '09226',
 '96771',
 '30977',
 '88459',
 '28330',
 '00123',
 '03558',
 '21860',
 '14505',
 '99250',
 '47933',
 '14988',
 '95810',
 '23796',
 '45047',
 '14360',
 '01248',
 '61044',
 '28977',
 '49634',
 '69556',
 '71327',
 '00151',
 '00017',
 '92948',
 '83900',
 '46597',
 '29379',
 '76475',
 '28399',
 '34791',
 '44364',
 '00910',
 '80175',
 '29000',
 '56044',
 '69576',
 '62687',
 '48440',
 '50900',
 '25331',
 '45161',
 '48956',
 '19756',
 '44888',
 '89056',
 '46970',
 '49308',
 '00291',
 '84494',
 '75061',
 '00170',
 '94295',
 '74069',
 '13978',
 '77384',
 '12723',
 '77688',
 '85753',
 '00162',
 '00290',
 '12413',
 '13312',
 '00204',
 '99245',
 '38614',
 '16783',
 '46520',
 '17966',
 '82685',
 '28551',
 '87536',
 '38727',
 '36362',
 '33316',
 '76642',
 '00287',
 '00624',
 '14291',
 '08777',
 '85094',
 '77576',
 '02091',
 '22680',
 '03949',
 '15229',
 '23049',
 '37914',
 '98908',
 '12378',
 '24468',
 '14767',
 '72988',
 '68829',
 '32171',
 '32625',
 '77726',
 '00132',
 '90872',
 '45884',
 '03663',
 '24229',
 '29760',
 '64503',
 '00319',
 '32077',
 '33739',
 '75771',
 '64520',
 '02128',
 '08436',
 '16904',
 '63748',
 '01403',
 '02862',
 '63910',
 '00050',
 '77567',
 '00941',
 '25593',
 '83725',
 '00118',
 '00353',
 '63323',
 '52902',
 '82951',
 '02990',
 '08370',
 '67778',
 '14667',
 '45668',
 '41937',
 '74891',
 '32310',
 '99011',
 '52921',
 '43068',
 '22635',
 '27503',
 '42120',
 '89801',
 '30660',
 '32949',
 '00003',
 '84768',
 '24375',
 '69037',
 '75841',
 '00205',
 '92545',
 '19527',
 '07556',
 '38305',
 '18892',
 '37186',
 '49596',
 '11007',
 '50911',
 '74394',
 '99376',
 '62070',
 '72330',
 '19322',
 '22542',
 '22478',
 '54468',
 '46566',
 '81057',
 '26773',
 '52147',
 '29514',
 '01183',
 '53089',
 '61552',
 '86981',
 '89081',
 '74367',
 '83771',
 '48908',
 '51903',
 '90817',
 '00251',
 '65301',
 '38381',
 '00039',
 '64199',
 '83934',
 '52350',
 '05082',
 '98703',
 '19130',
 '00140',
 '51689',
 '94392',
 '33869',
 '00150',
 '87468',
 '04431',
 '44201',
 '00280',
 '06790',
 '37607',
 '31133',
 '22354',
 '05228',
 '35512',
 '41182',
 '73636',
 '11215',
 '21177',
 '70059',
 '79028',
 '54781',
 '50291',
 '92073',
 '00014',
 '86588',
 '14891',
 '26811',
 '74493',
 '05663',
 '87394',
 '00200',
 '76486',
 '78673',
 '00047',
 '00265',
 '00161',
 '80979',
 '61806',
 '15102',
 '84493',
 '32796',
 '29441',
 '21751',
 '02693',
 '99992',
 '39079',
 '09315',
 '00351',
 '47623',
 '49413',
 '69566',
 '05182',
 '00279',
 '22244',
 '87733',
 '17560',
 '11808',
 '75126',
 '50466',
 '30283',
 '00165',
 '98245',
 '69091',
 '89493',
 '13361',
 '20380',
 '00966',
 '13406',
 '90612',
 '00289',
 '28743',
 '00073',
 '37018',
 '06924',
 '59305',
 '83937',
 '08236',
 '00404',
 '03562',
 '00055',
 '32622',
 '68805',
 '63200',
 '66062',
 '25837',
 '32873',
 '07166',
 '10982',
 '42228',
 '40551',
 '00263',
 '17277',
 '58870',
 '61320',
 '19762',
 '12576',
 '73225',
 '25923',
 '49863',
 '86299',
 '47135',
 '84392',
 '29417',
 '61182',
 '05291',
 '38822',
 '00169',
 '63312',
 '49880',
 '00278',
 '63068',
 '89475',
 '62616',
 '83733',
 '71813',
 '31428',
 '85493',
 '45783',
 '63767',
 '01088',
 '31982',
 '70409',
 '94494',
 '67379',
 '00294',
 '60688',
 '28348',
 '44502',
 '73251',
 '16321',
 '53920',
 '67352',
 '74345',
 '00139',
 '30311',
 '28992',
 '50756',
 '58196',
 '18041',
 '49901',
 '00166',
 '41340',
 '94019',
 '63865',
 '16214',
 '45593',
 '34317',
 '77743',
 '16604',
 '89609',
 '00271',
 '08773',
 '00137',
 '51310',
 '72938',
 '68037',
 '00065',
 '34585',
 '59181',
 '88377',
 '00303',
 '02604',
 '66437',
 '00114',
 '73336',
 '00233',
 '95301',
 '89913',
 '77994',
 '47607',
 '20061',
 '33103',
 '25199',
 '00044',
 '48016',
 '00153',
 '00025',
 '82277',
 '78901',
 '79920',
 '38422',
 '80382',
 '36994',
 '62517',
 '67450',
 '49322',
 '67615',
 '50373',
 '00270',
 '31322',
 '83659',
 '82211',
 '29485',
 '21432',
 '34409',
 '00276',
 '38500',
 '84276',
 '48646',
 '22099',
 '20291',
 '11361',
 '98290',
 '79066',
 '01312',
 '11742',
 '25083',
 '51973',
 '00226',
 '16022',
 '52131',
 '00188',
 '54214',
 '67864',
 '91402',
 '24612',
 '77670',
 '25804',
 '62491',
 '15046',
 '30121',
 '84495',
 '87337',
 '95127',
 '53330',
 '27484',
 '47122',
 '96349',
 '94988',
 '47605',
 '98829',
 '43228',
 '00224',
 '05019',
 '22455',
 '09529',
 '54932',
 '04991',
 '14380',
 '85737',
 '02897',
 '81472',
 '54974',
 '70290',
 '00172',
 '51795',
 '80253',
 '18873',
 '49424',
 '42453',
 '21955',
 '06223',
 '63018',
 '01651',
 '20827',
 '18253',
 '64211',
 '95668',
 '00168',
 '40881',
 '52678',
 '14914',
 '62768',
 '66386',
 '26445',
 '14106',
 '92042',
 '61087',
 '97016',
 '09902',
 '33081',
 '48255',
 '00235',
 '05358',
 '81293',
 '00345',
 '32914',
 '00010',
 '02759',
 '01861',
 '00128',
 '47858',
 '68081',
 '00147',
 '24258',
 '74369',
 '12041',
 '54192',
 '00320',
 '86758',
 '39539',
 '30067',
 '55365',
 '46481',
 '00046',
 '53980',
 '01883',
 '38778',
 '45846',
 '17916',
 '26540',
 '14390',
 '96417',
 '15731',
 '60887',
 '00216',
 '78960',
 '68856',
 '96786',
 '00041',
 '18008',
 '16247',
 '59144',
 '55236',
 '31619',
 '88973',
 '50951',
 '33503',
 '52912',
 '00122',
 '62241',
 '82894',
 '00076',
 '00306',
 '04055',
 '64385',
 '54427',
 '76803',
 '73381',
 '87067',
 '73158',
 '04347',
 '61605',
 '59051',
 '00045',
 '64817',
 '67409',
 '71228',
 '00145',
 '22804',
 '90770',
 '94279',
 '92691',
 '14801',
 '00131',
 '66191',
 '00176',
 '49268',
 '26043',
 '80364',
 '25219',
 '10375',
 '71112',
 '47602',
 '18331',
 '59326',
 '86483',
 '67241',
 '37127',
 '58271',
 '39593',
 '28627',
 '33251',
 '84375',
 '64081',
 '39764',
 '43431',
 '00144',
 '16675',
 '50471',
 '00016',
 '47950',
 '18527',
 '34096',
 '47810',
 '50727',
 '96431',
 '00156',
 '95978',
 '76096',
 '12044',
 '01461',
 '65555',
 '57228',
 '06655',
 '39103',
 '16372',
 '67280',
 '05374',
 '93884',
 '00026',
 '84005',
 '16112',
 '86547',
 '53616',
 '26916',
 '12605',
 '07644',
 '66473',
 '50580',
 '90343',
 '16848',
 '48298',
 '51474',
 '00002',
 '09820',
 '86271',
 '19632',
 '74375',
 '00313',
 '07331',
 '29796',
 '36481',
 '68162',
 '92648',
 '14491',
 '32999',
 '01721',
 '97281',
 '63485',
 '00322',
 '44845',
 '38547',
 '87797',
 '66381',
 '34711',
 '19241',
 '46775',
 '61218',
 '00154',
 '27678',
 '49241',
 '48514',
 '09582',
 '61338',
 '03617',
 '12003',
 '58814',
 '63091',
 '00266',
 '05232',
 '63951',
 '29611',
 '20951',
 '53751',
 '12561',
 '77587',
 '40886',
 '27604',
 '46291',
 '83257',
 '00115',
 '00008',
 '93527',
 '23630',
 '92580',
 '32581',
 '11159',
 '80289',
 '81095',
 '50349',
 '04193',
 '10993',
 '49782',
 '37728',
 '00221',
 '84196',
 '71152',
 '02663',
 '16820',
 '58668',
 '27902',
 '65675',
 '00052',
 '32082',
 '94538',
 '22421',
 '17974',
 '41301',
 '10487',
 '39638',
 '00042',
 '00283',
 '58845',
 '48069',
 '61746',
 '00317',
 '93307',
 '48768',
 '19411',
 '22545',
 '93671',
 '31811',
 '05242',
 '00272',
 '02075',
 '39537',
 '10724',
 '94558',
 '96061',
 '51892',
 '78133',
 '40828',
 '39959',
 '52219',
 '86474',
 '63381',
 '21688',
 '54679',
 '16529',
 '09259',
 '92893',
 '85702',
 '10653',
 '00001',
 '68006',
 '48368',
 '56326',
 '46951',
 '62105',
 '08741',
 '19800',
 '76088',
 '07203',
 '51205',
 '18865',
 '40533',
 '78731',
 '78486',
 '00019',
 '00071',
 '67961',
 '27143',
 '28241',
 '48493',
 '83303',
 '34322',
 '55547',
 '01882',
 '70810',
 '59269',
 '55354',
 '89681',
 '38518',
 '71921',
 '26647',
 '08818',
 '23554',
 '19237',
 '08011',
 '00129',
 '83377',
 '00197',
 '30481',
 '92747',
 '77645',
 '00159',
 '05219',
 '00011',
 '92756',
 '52013',
 '28917',
 '55873',
 '89394',
 '16162',
 '00394',
 '05069',
 '63852',
 '19273',
 '00268',
 '16970',
 '97013',
 '00117',
 '11027',
 '19559',
 '08971',
 '00308',
 '37551',
 '71872',
 '00223',
 '06681',
 '00152',
 '16725',
 '45485',
 '50577',
 '23596',
 '53356',
 '75519',
 '29391',
 '00164',
 '00013',
 '10673',
 '67850',
 '10695',
 '86050',
 '03535',
 '43868',
 '26477',
 '30767',
 '90888',
 '05151',
 '41000',
 '31114',
 '96699',
 '19364',
 '00136',
 '00196',
 '12023',
 '29118',
 '24641',
 '68768',
 '02647',
 '74523',
 '14771',
 '27732',
 '53943',
 '58718',
 '03649',
 ...}

In [11]:
data_drop = data_drop[(data_drop['PartitionKey'].astype(str).str.isdigit()) & (data_drop['PartitionKey'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ PartitionKey ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)                                                                            
data_drop

(37398, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36

In [12]:
set(data_drop['PartitionKey'])

{'01130',
 '02972',
 '01462',
 '01247',
 '01459',
 '00464',
 '00431',
 '01572',
 '09005',
 '01797',
 '01907',
 '00511',
 '02070',
 '00715',
 '01366',
 '02426',
 '01090',
 '03505',
 '02743',
 '00398',
 '00813',
 '01765',
 '00805',
 '01121',
 '02038',
 '01132',
 '00722',
 '01912',
 '00590',
 '01445',
 '02739',
 '00167',
 '00411',
 '08995',
 '00406',
 '00292',
 '04636',
 '04974',
 '01653',
 '08935',
 '00765',
 '01294',
 '03877',
 '01303',
 '01099',
 '02024',
 '01133',
 '04782',
 '00642',
 '05976',
 '08069',
 '01971',
 '03144',
 '03381',
 '01557',
 '00064',
 '03372',
 '00207',
 '02532',
 '01764',
 '05013',
 '00479',
 '01198',
 '01532',
 '02946',
 '03127',
 '00053',
 '01902',
 '01990',
 '03299',
 '00989',
 '02995',
 '00704',
 '00769',
 '01369',
 '01577',
 '00298',
 '01015',
 '03093',
 '00330',
 '01482',
 '01909',
 '00556',
 '02067',
 '02538',
 '02886',
 '03062',
 '01396',
 '02596',
 '02564',
 '01526',
 '05121',
 '00098',
 '05343',
 '03304',
 '06020',
 '09031',
 '03379',
 '02579',
 '04183',
 '02854',
 '02631',
 '05785',
 '01700',
 '01985',
 '01593',
 '05112',
 '06042',
 '02001',
 '01087',
 '00975',
 '01435',
 '03154',
 '02329',
 '08986',
 '09030',
 '01803',
 '03483',
 '00831',
 '04511',
 '01028',
 '08998',
 '01171',
 '00621',
 '02220',
 '01744',
 '00816',
 '00862',
 '03074',
 '02486',
 '00944',
 '02000',
 '04813',
 '01428',
 '01603',
 '01034',
 '02595',
 '01844',
 '02062',
 '00296',
 '02526',
 '00782',
 '00634',
 '03512',
 '00450',
 '04692',
 '00412',
 '02784',
 '00949',
 '03338',
 '03335',
 '02123',
 '00750',
 '00183',
 '03411',
 '06059',
 '04672',
 '06262',
 '02345',
 '01280',
 '03269',
 '00883',
 '02341',
 '03405',
 '00333',
 '00409',
 '02299',
 '00688',
 '05248',
 '01052',
 '01377',
 '06046',
 '04074',
 '01688',
 '02949',
 '01411',
 '05323',
 '01528',
 '02877',
 '01644',
 '00790',
 '02275',
 '00341',
 '05133',
 '00094',
 '01086',
 '08992',
 '02435',
 '01322',
 '10975',
 '01663',
 '00206',
 '01750',
 '00838',
 '00933',
 '01148',
 '02476',
 '01228',
 '03255',
 '01096',
 '00566',
 '05960',
 '04017',
 '00938',
 '01763',
 '09039',
 '01590',
 '00040',
 '01232',
 '01331',
 '00092',
 '01307',
 '00518',
 '01190',
 '01809',
 '05204',
 '03332',
 '00028',
 '00326',
 '01935',
 '02735',
 '01972',
 '03092',
 '03290',
 '03494',
 '00364',
 '03108',
 '01515',
 '00696',
 '04030',
 '04812',
 '01693',
 '01631',
 '02612',
 '00612',
 '00660',
 '02670',
 '01184',
 '04630',
 '03424',
 '01341',
 '06041',
 '01083',
 '01388',
 '02154',
 '03434',
 '01684',
 '01596',
 '00225',
 '02191',
 '05227',
 '00617',
 '00914',
 '01325',
 '00038',
 '00609',
 '03112',
 '01863',
 '01625',
 '01923',
 '02078',
 '03291',
 '00905',
 '06043',
 '00733',
 '01554',
 '01020',
 '09044',
 '09029',
 '01629',
 '02363',
 '01085',
 '08934',
 '08932',
 '03252',
 '00604',
 '00452',
 '02003',
 '01600',
 '00184',
 '01868',
 '01094',
 '05233',
 '02406',
 '01812',
 '03278',
 '02155',
 '01363',
 '02676',
 '05957',
 '06725',
 '09008',
 '05831',
 '02250',
 '00939',
 '04006',
 '06021',
 '02547',
 '01993',
 '00255',
 '00581',
 '00108',
 '00447',
 '02928',
 '08959',
 '00121',
 '00414',
 '01437',
 '02857',
 '05091',
 '01078',
 '01547',
 '05289',
 '00680',
 '00220',
 '00844',
 '03933',
 '02687',
 '02863',
 '00133',
 '01711',
 '02442',
 '01723',
 '00814',
 '01479',
 '00600',
 '02903',
 '01816',
 '04670',
 '04693',
 '01406',
 '02224',
 '01695',
 '00738',
 '00138',
 '00819',
 '01255',
 '01483',
 '00746',
 '00187',
 '03007',
 '03060',
 '00471',
 '00416',
 '01368',
 '03211',
 '00079',
 '00829',
 '01678',
 '01891',
 '03553',
 '00687',
 '02416',
 '01789',
 '05266',
 '03438',
 '00597',
 '00690',
 '06040',
 '01524',
 '00141',
 '00347',
 '06145',
 '02926',
 '02475',
 '01005',
 '00742',
 '02781',
 '00158',
 '08914',
 '02918',
 '00676',
 '01415',
 '00896',
 '01410',
 '02943',
 '03064',
 '04788',
 '05267',
 '03272',
 '08917',
 '02035',
 '02178',
 '00801',
 '01339',
 '01995',
 '02598',
 '00123',
 '01031',
 '04785',
 '01287',
 '01792',
 '01800',
 '02069',
 '01419',
 '00427',
 '01666',
 '03548',
 '01248',
 '01994',
 '00084',
 '00543',
 '01209',
 '02731',
 '02338',
 '00151',
 '00017',
 '01380',
 '02783',
 '05238',
 '02790',
 '01690',
 '00367',
 '01497',
 '00569',
 '10990',
 '00602',
 '00910',
 '02694',
 '00245',
 '01259',
 '02742',
 '01394',
 '02763',
 '01359',
 '01277',
 '01045',
 '01158',
 '01669',
 '00568',
 '08950',
 '00420',
 '02760',
 '00103',
 '00291',
 '08969',
 '10984',
 '00970',
 '02103',
 '00170',
 '02177',
 '08521',
 '06000',
 '01867',
 '02243',
 '00525',
 '01315',
 '00960',
 '08532',
 '00356',
 '02561',
 '03140',
 '00162',
 '04163',
 '02144',
 '00474',
 '00916',
 '00290',
 '00256',
 '00444',
 '09002',
 '01329',
 '04111',
 '00778',
 '00857',
 '01214',
 '00204',
 '01327',
 '02819',
 '03315',
 '04641',
 '05101',
 '01725',
 '01263',
 '01332',
 '03019',
 '00596',
 '02253',
 '01264',
 '00093',
 '01061',
 '01724',
 '00895',
 '02007',
 '00287',
 '01982',
 '05986',
 '00624',
 '01074',
 '02513',
 '02832',
 '01855',
 '02864',
 '06037',
 '02337',
 '00695',
 '00928',
 '01393',
 '00558',
 '03949',
 '02135',
 '00976',
 '02668',
 '03008',
 '06012',
 '00640',
 '00942',
 '01860',
 '01014',
 '04020',
 '01898',
 '03593',
 '01033',
 '01471',
 '00132',
 '00502',
 '09015',
 '01742',
 '03059',
 '05841',
 '03034',
 '00720',
 '01999',
 '02988',
 '00195',
 '00438',
 '01702',
 '01692',
 '05310',
 '06182',
 '02269',
 '02468',
 '04071',
 '05963',
 '00319',
 '01235',
 '02422',
 '04043',
 '00630',
 '00429',
 '02938',
 '01641',
 '00698',
 '01953',
 '08991',
 '01073',
 '01403',
 '02862',
 '00050',
 '03095',
 '00843',
 '03419',
 '01118',
 '00941',
 '03339',
 '03122',
 '01150',
 '00336',
 '03983',
 '01852',
 '03224',
 '01265',
 '02297',
 '00118',
 '00353',
 '01022',
 '01317',
 '02827',
 '02500',
 '03997',
 '04639',
 '00656',
 '08931',
 '02558',
 '08967',
 '00936',
 '02990',
 '04084',
 '00314',
 '01694',
 '01748',
 '00467',
 '01779',
 '01877',
 '00725',
 '01481',
 '02160',
 '04607',
 '00261',
 '00499',
 '01044',
 '01713',
 '02336',
 '01192',
 '01998',
 '05247',
 '02055',
 '09038',
 '00360',
 '01427',
 '02958',
 '01484',
 '00759',
 '06027',
 '00881',
 '02076',
 '00003',
 '00591',
 '02287',
 '01601',
 '01500',
 '03156',
 '01178',
 '00205',
 '04735',
 '02919',
 '00472',
 '00492',
 '02991',
 '00646',
 '02648',
 '09001',
 '00063',
 '01949',
 '01413',
 '06185',
 '00948',
 '02264',
 '00635',
 '01075',
 '01582',
 '02350',
 '08918',
 '11007',
 '08954',
 '02586',
 '00675',
 '05096',
 '00370',
 '03240',
 '05098',
 '02584',
 '01530',
 '01183',
 '03715',
 '01066',
 '00454',
 '00339',
 '03547',
 '03552',
 '04642',
 '02888',
 '00251',
 '02282',
 '02327',
 '00784',
 '00921',
 '00039',
 '00393',
 '00451',
 '01707',
 '02666',
 '00249',
 '00555',
 '00140',
 '10970',
 '03501',
 '02166',
 '00984',
 '11000',
 '06060',
 '01293',
 '02039',
 '01129',
 '01827',
 '00783',
 '01520',
 '03546',
 '00037',
 '05339',
 '00340',
 '01793',
 '00150',
 '00864',
 '00956',
 '00329',
 '00280',
 '01657',
 '04638',
 '05228',
 '01110',
 '00772',
 '03538',
 '10981',
 '02248',
 '00508',
 '09042',
 '01387',
 '00227',
 '01643',
 '00980',
 '04635',
 '00891',
 '01053',
 '03394',
 '03934',
 '00540',
 '00428',
 '09027',
 '00515',
 '00086',
 '00014',
 '00498',
 '02218',
 '03130',
 '05341',
 '02116',
 '00806',
 '00200',
 '00562',
 '00047',
 '01112',
 '00265',
 '01152',
 '00161',
 '01119',
 '01231',
 '01854',
 '01432',
 '05977',
 '05973',
 '01168',
 '01813',
 '01938',
 '01421',
 '01529',
 '00797',
 '01364',
 '00351',
 '01057',
 '02351',
 '04664',
 '02654',
 '03182',
 '09014',
 '06002',
 '02293',
 '06312',
 '00279',
 '00077',
 '01382',
 '05989',
 '03057',
 '01392',
 '03300',
 '00735',
 '01709',
 '01639',
 '03393',
 '01842',
 '08948',
 '01002',
 '00548',
 '00959',
 '02189',
 '06024',
 '02333',
 '03134',
 '08903',
 '01958',
 '01943',
 '02602',
 '02061',
 '00165',
 '02775',
 '02149',
 '02398',
 '00254',
 '01337',
 '01737',
 '01961',
 '02495',
 '02197',
 '03044',
 '05115',
 '05718',
 '06029',
 '00803',
 '01272',
 '00886',
 '00524',
 '01558',
 '02624',
 '00262',
 '00966',
 '01559',
 '00289',
 '00403',
 '00828',
 '00073',
 '08904',
 '00106',
 '00361',
 '05092',
 '00408',
 '00981',
 '00827',
 '01195',
 '01605',
 '00404',
 '00599',
 '04665',
 '00335',
 '04004',
 '00055',
 '05308',
 '00877',
 '03107',
 '05727',
 '03231',
 '01741',
 '00067',
 '08383',
 '02952',
 '00099',
 '10982',
 '00263',
 '05097',
 '00383',
 '02622',
 '03177',
 '03030',
 '01533',
 '05984',
 '05982',
 '00432',
 '02467',
 '10963',
 '01070',
 '01361',
 '00894',
 '01360',
 '02507',
 '02167',
 '03152',
 '01649',
 '03981',
 '00371',
 '01221',
 '01822',
 '02009',
 '02937',
 '04022',
 '05302',
 '01494',
 '02417',
 '03362',
 '01946',
 '00982',
 '05806',
 '01819',
 '01838',
 '02181',
 '00169',
 '03961',
 '01457',
 '00860',
 '02222',
 '00456',
 '00633',
 '00278',
 '01196',
 '05209',
 '04095',
 '04793',
 '01423',
 '01274',
 '03179',
 '02951',
 '00957',
 '03075',
 '00491',
 '03399',
 '02993',
 '00346',
 '02223',
 '00476',
 '01906',
 '01306',
 '01088',
 '00988',
 '00927',
 '01873',
 '03506',
 '06055',
 '00085',
 '01181',
 '03978',
 '02727',
 '00637',
 '08977',
 '00294',
 '02567',
 '01117',
 '02402',
 '01508',
 '01858',
 '03183',
 '05106',
 '00250',
 '02682',
 '05723',
 '02084',
 '02856',
 '00809',
 '02881',
 '01607',
 '00470',
 '05141',
 '05262',
 '02100',
 '01955',
 '00401',
 '01941',
 '00139',
 '01172',
 '06044',
 '00386',
 '00469',
 '01776',
 '10980',
 '00166',
 '00182',
 '00594',
 '10991',
 '02559',
 '02301',
 '01499',
 '01987',
 '01839',
 '06063',
 '00693',
 '00603',
 '01439',
 '01402',
 '01262',
 '01761',
 '00962',
 '01379',
 '05127',
 '00376',
 '04622',
 '02267',
 '08596',
 '01686',
 '01288',
 '00271',
 '02059',
 '02210',
 '00417',
 '00137',
 '00495',
 '00526',
 '00683',
 '01817',
 '02380',
 '02079',
 '03317',
 '01978',
 '00065',
 '00397',
 '01989',
 '00489',
 '02879',
 '08906',
 '03386',
 '02170',
 '03033',
 '03141',
 '01986',
 '08963',
 '00516',
 '00303',
 '02604',
 '06053',
 '01719',
 '02776',
 '01328',
 '00114',
 '01418',
 '00233',
 '02905',
 '02074',
 '08960',
 '02421',
 '01149',
 '04651',
 '01545',
 '00310',
 '00747',
 ...}

In [13]:
data_drop = data_drop[(data_drop['site'].astype(str).str.isdigit()) & (data_drop['site'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ site ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)       
data_drop

(37392, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36

In [14]:
set(data_drop['site'])

{'00027',
 '00040',
 '00513',
 '00579',
 '00580',
 '02759',
 '03432',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11748',
 '11749',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '24650',
 '27988',
 '27990',
 '28017',
 '99795'}

In [15]:
data_drop.dtypes

user            object
RowKey          object
date            object
ov              object
phone           object
site            object
time            object
urine           object
PartitionKey    object
title           object
age             object
dtype: object

## เปลี่ยน type ข้อมูลเป็น String

https://datatofish.com/string-to-integer-dataframe/?fbclid=IwAR2QM-BBrWO79pYmBAqndG8swBQVgxoQH4nJTAz8zGMS6VjlZone_MBVBxQ

In [16]:
import numpy as np

### เปลี่ยน user, site, ov, PartitionKey, age เป็นตัวเลขเท่านั้น (int)

โดยการตั้งค่า  error='coerce' จะแปลงค่าที่ไม่ใช่ตัวเลขเป็น  NaN

In [17]:
#data_drop['user'] = pd.to_numeric(data_drop['user'], errors='coerce')
#data_drop['site'] = pd.to_numeric(data_drop['site'], errors='coerce')
#data_drop['PartitionKey'] = pd.to_numeric(data_drop['PartitionKey'], errors='coerce')

In [18]:
data_drop['ov'] = pd.to_numeric(data_drop['ov'], errors='coerce')
data_drop['age'] = pd.to_numeric(data_drop['age'], errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
data_drop.dtypes

user             object
RowKey           object
date             object
ov              float64
phone            object
site             object
time             object
urine            object
PartitionKey     object
title            object
age               int64
dtype: object

ตอนนี้จะสังเกตเห็น ค่า NaNโดยที่ประเภทข้อมูลเป็น float

สามารถทำโดยแทนที่ค่า 'NaN' ด้วยค่า '0' โดยใช้ df.replace:

In [20]:
#data_drop['user'] = data_drop['user'].astype(int)
#data_drop['site'] = data_drop['site'].astype(int)
#data_drop['PartitionKey'] = data_drop['PartitionKey'].astype(int)

In [21]:
data_drop = data_drop.replace(np.nan, 0, regex=True)
data_drop['ov'] = data_drop['ov'].astype(int)
data_drop['age'] = data_drop['age'].astype(int)

In [22]:
data_drop.dtypes

user            object
RowKey          object
date            object
ov               int64
phone           object
site            object
time            object
urine           object
PartitionKey    object
title           object
age              int64
dtype: object

In [23]:
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36

จะเห็นว่า data เป็น YYYY-MM-DD แล้ว

### เปลี่ยน time เป็น hh-mm-ss

In [24]:
data_drop['time'] = data_drop['time'].replace(':','-',regex=True)

In [25]:
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36

### เปลี่ยน RowKey, phone, urine, title เป็น String

In [26]:
data_drop.astype({'RowKey':'string', 'phone':'string','urine':'string','title':'string'}).dtypes

user            object
RowKey          string
date            object
ov               int64
phone           string
site            object
time            object
urine           string
PartitionKey    object
title           string
age              int64
dtype: object

In [27]:
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36

### แก้ไขค่า titile(คำนำหน้าชื่อ)

In [28]:
set(data_drop['title'])

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 'Mrs',
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [29]:
data_drop['title'].replace({'  นาง':'หญิง',
                    ' นาง':'หญิง',
                    ' นางสาว':'หญิง',
                    ' นาย':'ชาย',
                    'Mrs':'หญิง',
                    'ชาย':'ชาย',
                    'ด.ช.':'ชาย',
                    'ด.ญ.':'หญิง',
                    'ด.ต.':'ไม่ระบุ',
                    'น':'ไม่ระบุ',
                    'น.ส':'หญิง',
                    'น.ส ':'หญิง',
                    'น.ส.':'หญิง',
                    'นส':'หญิง',
                    'นส.':'หญิง',
                    'นส. ':'หญิง',
                    'นาง':'หญิง',
                    'นาง ':'หญิง',
                    'นาง.':'หญิง',
                    'นางl':'หญิง',
                    'นางสาว':'หญิง',
                    'นางสาว ':'หญิง',
                    'นางสาว                   ':'หญิง',
                    'นาน':'ชาย',
                    'นาบ':'ชาย',
                    'นาย':'ชาย',
                    'นาย ':'ชาย',
                    'นาย  ':'ชาย',
                    'นาว':'หญิง',
                    'นาวสาว':'หญิง',
                    'นา่ง':'หญิง',
                    'น่าย':'ชาย',
                    'พจอ.':'ไม่ระบุ',
                    'พระ':'ชาย',
                    'พระครุ':'ไม่ระบุ',
                    'พระปลัด':'ไม่ระบุ',
                    'พลฯ':'ไม่ระบุ',
                    'ร.ต.':'ไม่ระบุ',
                    'ร.ต.ต.':'ไม่ระบุ',
                    'ร.ต.ท.':'ไม่ระบุ',
                    'ร.ต.อ.':'ไม่ระบุ',
                    'รต.':'ไม่ระบุ',
                    'ว่าที่ ร.ต.':'ไม่ระบุ',
                    'ว่าที่ ร.ท.':'ไม่ระบุ',
                    'ว่าที่ร้อยตรี':'ไม่ระบุ',
                    0:'ไม่ระบุ',
                    'data is not completed':'ไม่ระบุ',
                    'okp':'ไม่ระบุ',
                    'ส.อ.':'ไม่ระบุ',
                    'ืนาง':'หญิง',
                    'เด็กชาย':'ชาย',
                    'เด็กหญิง':'หญิง'},inplace=True)

In [30]:
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,หญิง,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,ชาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,หญิง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,หญิง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,ชาย,36

In [31]:
data_drop2 = data_drop.rename(columns={'title':'sex'})         #เปลี่ยน title เป็น sex

In [32]:
data_drop2

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,หญิง,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,ชาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,หญิง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,หญิง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,ชาย,36

In [33]:
set(data_drop2['sex'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

# Data 2 hospital

In [34]:
data2 = pd.read_excel(os.path.join(path,'hospital_list.xlsx'))
data2

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [35]:
data_h2 = data2[['hcode','name','zone_name','province','amphur','tambon','name5','short_english']]      # เลือกเฉพาะคอลัมน์ที่ต้องการ
data_h2

,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด,ATG
...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.,RBR

In [36]:
data_h2.isnull().sum()

hcode              0
name               1
zone_name          4
province           0
amphur             2
tambon           209
name5              3
short_english      6
dtype: int64

In [37]:
data_h2['name'] = data_h2['name'].fillna('ไม่ระบุ') 
data_h2['zone_name'] = data_h2['zone_name'].fillna('ไม่ระบุ') 
data_h2['amphur'] = data_h2['amphur'].fillna('ไม่ระบุ') 
data_h2['tambon'] = data_h2['tambon'].fillna('ไม่ระบุ') 
data_h2['name5'] = data_h2['name5'].fillna('ไม่ระบุ') 
data_h2['short_english'] = data_h2['short_english'].fillna('ไม่ระบุ');

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
data_h2.isnull().sum()

hcode            0
name             0
zone_name        0
province         0
amphur           0
tambon           0
name5            0
short_english    0
dtype: int64

In [39]:
data_df = data_drop2.merge(data_h2,how='left',left_on='site',right_on='hcode')     # เชื่อมตาราง
data_df

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล,KSN
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล,MKM
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50,06334,โรงพยาบาลส่งเสริมสุขภาพตำบลน้ำพี้,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ทองแสนขัน,น้ำพี้,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37387,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,หญิง,33,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน,RET
37388,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,ชาย,28,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน,RET
37389,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,หญิง,72,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน,RET
37390,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,หญิง,48,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน,RET
37391,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,ชาย,36,11069,โรงพยาบาลเสลภูมิ,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง,โรงพยาบาลชุมชน,RET

In [40]:
data_df.isnull().any()  # ตรวจสอบหาค่า missing

user             False
RowKey           False
date             False
ov               False
phone            False
site             False
time             False
urine            False
PartitionKey     False
sex              False
age              False
hcode            False
name             False
zone_name        False
province         False
amphur           False
tambon           False
name5            False
short_english    False
dtype: bool

จากการตรวจสอบพบว่าข้อมูลไม่มีค่า missing แล้ว และข้อมูลพร้อมที่จะนำไปทำ dashboard

In [41]:
data_df.to_csv(os.path.join(path,'data_df.csv'))  # save ไปเก็บในไดร์ฟ